{{define "top1"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/ui/static/css/main.css'>
        <link rel='shortcut icon' href='/ui/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
        <script src = "/ui/static/js/main.js"></script>
{{end}}
{{define "top2"}}
    </head>
    <body>
        <header>
            <h1><a href='/api/notes'>Notemaker</a></h1>
        </header>
{{end}}

{{define "bottom"}}
    </body>
</html>
{{end}}