{{template "top1" .}}

<title>Домашняя страница - Notemaker</title>
{{template "top2" .}}

<main>
    <h1 class = "welcome">Welcome to Notemaker!</h1>
    <div class = "main_buttons">
        <a href = "/auth/login"><p>Sign In</p></a>
        <a href = "/auth/register"><p>Sign Up</p></a>
    </div>
</main>

{{template "bottom" .}}